<h1>Edit User Profile!</h1>

<%= form_for @user do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
    </div>

    <%= f.submit "Submit!" %>

<% end %>

<%= link_to "Back to user list!", users_path %>