<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
<body>
	<header>
		<h1>Market Place</h1>
		<hr>
	</header>

	<h2>Users List</h2>
		<table>
			<tr> 
				<th> ID   </th>
				<th> Name </th>
				<th> Email </th>
				<th> Detailed Info </th>
			<tr>
		    <% @users.each do |user| %>
				<tr>
					<td> <%= user.id %> </td>
					<td> <%= user.name %> </td>   
					<td> <%= user.email %> </td>
					<td> <%= link_to "More info", user_path(user) %>  <td>
				</tr>
		    <% end %>
		</table>

		       <%= link_to "<button>Create a New User</button>".html_safe, new_user_path, :class =>"user_button" %>
		       <%= link_to "<button>HomePage</button>".html_safe, index_page_path, :class =>"user_button" %>
	

</body>
</html>