<!DOCTYPE html>
<html>
<head>
		<title>Market Place</title>
</head>

<body>
	<header>
		<h1>Market Place</h1>
		<hr>
	</header>
	
	<main class="contentWrapper">
		<p> Things you may be interested at: </p>
		<%= image_tag("item1.jpeg", :alt => "table", :class => "image_size") %>
		<br>
		<p> Recent popular searches: </p>
		<%= image_tag("item1.jpeg", :alt => "table", :class => "image_size") %>
		<p> testing </p>
	</main>
	
	<div class="footer">
		<hr>
			<%= link_to "<button>HomePage</button>".html_safe, index_page_path, :class =>"user_button" %>
		<!-- Link to Users Page -->
			<%= link_to "<button>Users List</button>".html_safe, users_path, :class =>"user_button" %> 

		<!-- Link to New User Registration Page -->
			<%= link_to "<button>Register</button>".html_safe, new_user_path, :class =>"user_button" %>

		<!-- Link to Items Page -->
			<%= link_to "<button>Items List</button>".html_safe, items_path, :class =>"user_button" %> 

		<!-- Link to New User Registration Page -->
			<%= link_to "<button>New Item</button>".html_safe, new_item_path, :class =>"user_button" %>
	</div>


</body>
</html>
